.btn {
  font-size: $text-small;
  padding: $small $large;
  border: none;
  border-radius: $radius-small;
  cursor: pointer;
  transition: all 0.15s;
  color: $color-light-1;
  background-color: $color-dark;
  &:hover {
    background-color: $color-dark3;
  }
}

.cancel {
  color: $color-dark;
  background-color: $color-light-1;
  border: 1px solid $color-dark;
  &:hover {
    background-color: $color-light-1;
  }
}
.delete {
  color: $color-light-1;
  background-color: $color-dark2;
  // border: 1px solid $color-dark;
  &:hover {
    background-color: $color-primary;
  }
}
